<!DOCTYPE html>
<html>
  <head>
    <title>Lyrics Decomposed</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static/images/musical-notes-symbols.png" width="50" height="50" class="d-inline-block align-top" alt="">&nbsp;&nbsp;
        <span class="nav-header" style="font-family:Diskoteque">Lyrics Decomposed</span>
        <a href="/" class="home"><img src="static/images/home.png" width="50" height="50" class="align-top" alt=""/></a>
      </a>
      </button>
    </nav>
    <br>
  </head>
  <body>
    <div class="row">
    <div class="column_left">
    <h2>About</h2>
    <font size="4">
    <p>Lyrics Decomposed is a web application that allows users to analyze the topics, polarity and sentiments of song lyrics.
      This was my capstone project for the Data Science Immersive program at Bitmaker General Assembly. Source code for this project is publicly available on my <a href="https://github.com/dunyaoguz">github</a>.</p>
      <p>All the data used to build this app was scraped from <a href="https://github.com/dunyaoguz">Genius.com</a>.</p>
      <p>Detailed information on the algorithms and technologies employed can be found in <a href="https://dunyaoguz.github.io/my-blog/capstone.html">this post</a> I published on my blog.</p>
      <br>
      <h5>Thank you for visiting!</h5>
      </font>
      <br>
      <br>
    </div>
    <div class="column_right">
      <h5>Made by</h5>
      <h2><b>Dunya Oguz</b></h2>
      <ol style="list-style-type:circle;" class="ol_about_page">
      <li class="li_about_page"><a href="https://dunyaoguz.github.io/my-blog/">Personal blog</a></li>
      <li class="li_about_page"><a href="http://github.com/dunyaoguz">Github</a></li>
      <li class="li_about_page"><a href="https://www.linkedin.com/in/dunya-oguz/">Linkedin</a></li>
      <li class="li_about_page"><a href="mailto:dunyaoguz13@gmail.com">E-mail</a></li>
      </ol>
      <font size="4"><p>Please feel free contact me for any questions or suggestions on how to improve the app! </p></font>
    </div>
  </div>
      <br>
  </body>
</html>
