<!DOCTYPE html>
<html>
  <head>
    <title>Dunya's Capstone</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static/images/musical-notes-symbols.png" width="50" height="50" class="d-inline-block align-top" alt="">&nbsp;&nbsp;
        <span class="nav-header" style="font-family:Diskoteque">Lyrics Decomposed</span>
        <a href="/" class="home"><img src="static/images/home.png" width="50" height="50" class="align-top" alt=""/></a>
      </a>
      </button>
    </nav>
    <br>
  </head>
  <body>
      <div class="artist">
        <p><img src="static/images/analytics.png" width="120" height="120" class="d-inline-block align-top" alt=""></p>
        <p><font size="5">Currently analysing...</font></p>
          <div class="heading" style="font-family:Husky Stash">
          {{ artist }}
        </div>
      </div>
    <br>
    <p><font size="5">Composite polarity score;</font></p>
      <div class="polarity"style="font-family:College"><p>{{ polarity }}</p></div>
    <p><font size="5">Sentiments expressed in songs over the years;</p></font>
    <div class="chart">
      {{ the_div_1|safe }}
      <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
      <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
      {{ the_script_1|safe }}
    </div>
    <br>
    <p><font size="5">Clusters of songs which are similar in sentiment;</p></font>
    <div class="chart">
      <br>
      {{ the_div_2|safe }}
      <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
      <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
      {{ the_script_2|safe }}
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p><font size="5">Topics sung about;</font></p>
    <p><font size="5">Words sung most frequently;</font></p>
    <div class = "word-cloud">
      <img src= {{ image }} alt="dt" width="700"/>
    </div>
    <br>
  </body>
</html>
