<!DOCTYPE html>
<html>
  <head>
    <title>LyrIQ</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static/images/musical-notes-symbols.png" width="50" height="50" class="d-inline-block align-top" alt="">&nbsp;&nbsp;
        <span class="nav-header" style="font-family:Diskoteque">Lyrics Decomposed</span>
        <a href="/" class="home"><img src="static/images/home.png" width="50" height="50" class="align-top" alt=""/></a>
      </a>
      </button>
    </nav>
    <br>
  </head>
  <body>
      <div class="artist">
        <img src="static/images/dj.png" width="120" height="120" class="d-inline-block align-top" alt="">
        <br>
        <br>
        <p><font size="5">Currently analysing...</font></p>
        <div class="heading_2_div">
          <p><span class="heading_2" style="font-family:Diskoteque">
          {{ artist_1 }}
        </span>
          <font size="5">vs</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="heading_2" style="font-family:Diskoteque">
            {{ artist_2 }}
          </span></p>
        </div>
      </div>
  </body>
  <br>
  <p><font size="5">Compared to {{ artist_2_proper }}'s lyrics, {{ artist_1_proper }}'s lyrics are..</font></p>
  <p><font size="6">👍</font><b><font size="4">  &nbsp;{{ positivity }}</b>% more positive</font></p>
  <p><font size="6">😡</font><b><font size="4">  &nbsp;{{ anger }}</b>% angrier</font></p>
  <p><font size="6">😲</font><b><font size="4">  &nbsp;{{ anticipation }}</b>% more full of anticipation</font></p>
  <p><font size="6">🤮</font><b><font size="4">  &nbsp;{{ disgust }}</b>% more disgusted</font></p>
  <p><font size="6">🙀</font><b><font size="4">  &nbsp;{{ fear }}</b>% more fearful</font></p>
  <p><font size="6">😁</font><b><font size="4">  &nbsp;{{ joy }}</b>% more joyful</font></p>
  <p><font size="6">😔</font><b><font size="4">  &nbsp;{{ sadness }}</b>% sadder</font></p>
  <p><font size="6">🥳</font><b><font size="4">  &nbsp;{{ surprise }}</b>% more surprised</font></p>
  <p><font size="6">😊</font><b><font size="4">  &nbsp;{{ trust }}</b>% more trusting</font></p>
  <br>
  <p><font size="5">Most prevalent themes in {{ artist_1_proper }}'s song are..</font></p>
  <p><b><font size="4">1. </font></b><font size="4">{{ topic_1 }}</font></p>
  <p><b><font size="4">2. </font></b><font size="4">{{ topic_2 }}</font></p>
  <p><b><font size="4">3. </font></b><font size="4">{{ topic_3 }}</font></p>
  <br>
  <p><font size="5">While the most prevalent themes in {{ artist_2_proper }}'s song are..</font></p>
  <p><b><font size="4">1. </font></b><font size="4">{{ topic_4 }}</font></p>
  <p><b><font size="4">2. </font></b><font size="4">{{ topic_5 }}</font></p>
  <p><b><font size="4">3. </font></b><font size="4">{{ topic_6 }}</font></p>
  <br>
  <p><font size="5">Most frequently used words by {{ artist_1_proper }} are..</font></p>
  <br>
  <p><font size="5">On the other hand, most frequently used words by {{ artist_2_proper }} are..</font></p>
  <br>
</html>
