<!DOCTYPE html>
<html>
  <head>
    <title>Lyrics Decomposed</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static/images/musical-notes-symbols.png" width="50" height="50" class="d-inline-block align-top" alt="">&nbsp;&nbsp;
        <span class="nav-header" style="font-family:Diskoteque">Lyrics Decomposed</span>
        <a href="/" class="home"><img src="static/images/home.png" width="50" height="50" class="align-top" alt=""/></a>
      </a>
      </button>
    </nav>
    <br>
  </head>
  <body>
      <div class="artist">
        <img src="static/images/dj.png" width="120" height="120" class="d-inline-block align-top" alt="">
        <br>
        <br>
        <p><font size="5">Currently analysing...</font></p>
        <div class="heading_2_div">
          <p><span class="heading_2" style="font-family:Diskoteque">
          {{ artist_1 }}
        </span>
          <font size="5">vs</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="heading_2" style="font-family:Diskoteque">
            {{ artist_2 }}
          </span></p>
        </div>
      </div>
  </body>
  <br>
  <h3>Compared to {{ artist_2_proper }}'s lyrics, {{ artist_1_proper }}'s lyrics are..</h3>
  <p><font size="6">👍</font><font size="4">  &nbsp;<font style="font-family: Airbnb Cereal App Bold">{{ positivity }}%</font> more positive</font></p>
  <p><font size="6">😡</font><font size="4">  &nbsp;<font style="font-family: Airbnb Cereal App Bold">{{ anger }}%</font>  angrier</font></p>
  <p><font size="6">😲</font><font size="4">  &nbsp;<font style="font-family: Airbnb Cereal App Bold">{{ anticipation }}%</font> more full of anticipation</font></p>
  <p><font size="6">🤮</font><font size="4">  &nbsp;<font style="font-family: Airbnb Cereal App Bold">{{ disgust }}%</font> more disgusted</font></p>
  <p><font size="6">🙀</font><font size="4">  &nbsp;<font style="font-family: Airbnb Cereal App Bold">{{ fear }}%</font> more fearful</font></p>
  <p><font size="6">😁</font><font size="4">  &nbsp;<font style="font-family: Airbnb Cereal App Bold">{{ joy }}%</font> more joyful</font></p>
  <p><font size="6">😔</font><font size="4">  &nbsp;<font style="font-family: Airbnb Cereal App Bold">{{ sadness }}%</font> sadder</font></p>
  <p><font size="6">🥳</font><font size="4">  &nbsp;<font style="font-family: Airbnb Cereal App Bold">{{ surprise }}%</font> more surprised</font></p>
  <p><font size="6">😊</font><font size="4">  &nbsp;<font style="font-family: Airbnb Cereal App Bold">{{ trust }}%</font> more trusting</font></p>
  <br>
  <h3>Most prevalent themes in {{ artist_1_proper }}'s songs are..</h3>
  <p><font size="4"><font style="font-family: Airbnb Cereal App Bold">1. </font>{{ topic_1 }}</font></p>
  <p><font size="4"><font style="font-family: Airbnb Cereal App Bold">2. </font>{{ topic_2 }}</font></p>
  <p><font size="4"><font style="font-family: Airbnb Cereal App Bold">3. </font>{{ topic_3 }}</font></p>
  <br>
  <h3>While the most prevalent themes in {{ artist_2_proper }}'s songs are..</h3>
  <p><font size="4"><font style="font-family: Airbnb Cereal App Bold">1. </font>{{ topic_4 }}</font></p>
  <p><font size="4"><font style="font-family: Airbnb Cereal App Bold">2. </font>{{ topic_5 }}</font></p>
  <p><font size="4"><font style="font-family: Airbnb Cereal App Bold">3. </font>{{ topic_6 }}</font></p>
  <br>
  <h3>Most frequently used words by {{ artist_1_proper }} are..</h3>
  <div class="words">
  <h1><span class="word">{{ freq_word_1 }}</span></h1><span class="space"></span>
  <h1><span class="word">{{ freq_word_2 }}</span></h1><span class="space"></span>
  <h1><span class="word">{{ freq_word_3 }}</span></h1><span class="space"></span>
  <h1><span class="word">{{ freq_word_4 }}</span></h1><span class="space"></span>
  <h1><span class="word">{{ freq_word_5 }}</span></h1>
  </div>
  <br>
  <br>
  <h3>On the other hand, most frequently used words by {{ artist_2_proper }} are..</h3>
  <div class="words">
  <h1><span class="word">{{ freq_word_6 }}</span></h1><span class="space"></span>
  <h1><span class="word">{{ freq_word_7 }}</span></h1><span class="space"></span>
  <h1><span class="word">{{ freq_word_8 }}</span></h1><span class="space"></span>
  <h1><span class="word">{{ freq_word_9 }}</span></h1><span class="space"></span>
  <h1><span class="word">{{ freq_word_10 }}</span></h1>
  </div>
  <br>
  <br>
</html>
