<!DOCTYPE html>
<html>
  <head>
    <title>Lyrics Decomposed</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static/images/musical-notes-symbols.png" width="50" height="50" class="d-inline-block align-top" alt="">&nbsp;&nbsp;
        <span class="nav-header" style="font-family:Diskoteque">Lyrics Decomposed</span>
      </a>
      <div class="about"><a href="/about" class="data">About</a></div>
      </button>
    </nav>
  </head>
  <body>
    <div class="intro">
    <p><img src="static/images/audio.png" width="100" height="100"/><img src="static/images/hi.png" width="60" height="60"/></p>
    <h1><p>Welcome to Lyrics Decomposed</p></h1>
    <p>Whose lyrics would you like to analyse today?</p>
    </div>
    <div><button onclick="window.location.href = '/popular_artists'">All artists in inventory&nbsp;&nbsp;<img src="static/images/band.png" width="70" height="70"/></button></div>
    <div><button onclick="window.location.href = '/search'">Select specific artist&nbsp;&nbsp;<img src="static/images/vocal.png" width="65" height="65"/></button></div>
    <div><button onclick="window.location.href = '/compare_search'">Compare two artists&nbsp;&nbsp;<img src="static/images/balance.png" width="70" height="70"/></button></div>
    <br><br><br>
    <!-- <p>&copy; Dunya Oguz 2019</p> -->
  </body>
</html>
