<!DOCTYPE html>
<html>
  <head>
    <title>LyrIQ</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static/images/musical-notes-symbols.png" width="50" height="50" class="d-inline-block align-top" alt="">&nbsp;&nbsp;
        <span class="nav-header" style="font-family:Diskoteque">Lyrics Decomposed</span>
        <a href="/" class="home"><img src="static/images/home.png" width="50" height="50" class="align-top" alt=""/></a>
      </a>
      </button>
    </nav>
    <br>
  </head>
  <body>
    <p class='scrape-info'>
    <img src="static/images/archive.png" width="100" height="100"/>
    <br>
    <br>
    <font size="5">This artist is not in inventory</font>
    <br>
    </p>
  </body>
</html>
