<!DOCTYPE html>
<html>
  <head>
    <title>LyrIQ</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static/images/musical-notes-symbols.png" width="50" height="50" class="d-inline-block align-top" alt="">&nbsp;&nbsp;
        <span class="nav-header" style="font-family:Diskoteque">Lyrics Decomposed</span>
        <a href="/" class="home"><img src="static/images/home.png" width="50" height="50" class="align-top" alt=""/></a>
      </a>
      </button>
    </nav>
    <br>
  </head>
  <body>
      <div class="artist">
        <p><img src="static/images/star.png" width="120" height="120" class="d-inline-block align-top" alt=""></p>
        <p><font size="5">Currently analysing <b>{{ songs_no }}</b> songs by...</font></p>
        <p><font size="5">~<b>350</b> artists who made it to the Billboard 100 year-end charts in 2000s</font></p>
        <br>
        <a href="/popular_artists_list" class="data">View the full list of artists</a>
      </div>
      <br><br><br>
      <p><font size="5">Composite polarity score;</p></font>
      <div class="chart">
        {{ the_div_2|safe }}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
        {{ the_script_2|safe }}
      </div>
      <br><br>
      <p><font size="5">Sentiments expressed in songs;</p></font>
      <div class="chart">
        {{ the_div_1|safe }}
        {{ the_script_1|safe }}
      </div>
      <p><font size="5">Predominant themes;</p></font>
      <div class="years">
        <p><font size="3">*scroll down to see*</p></font>
        <script src="static/styles/javascript.js"></script>
      <div>
        <a href="#0" class="data" onclick="myFunction_1()">2000</a>
        <a href="#0" class="data" onclick="myFunction_2()">2001</a>
        <a href="#0" class="data" onclick="myFunction_3()">2002</a>
        <a href="#0" class="data" onclick="myFunction_4()">2003</a>
        <a href="#0" class="data" onclick="myFunction_5()">2004</a>
        <a href="#0" class="data" onclick="myFunction_6()">2005</a>
        <a href="#0" class="data" onclick="myFunction_7()">2006</a>
        <a href="#0" class="data" onclick="myFunction_8()">2007</a>
        <a href="#0" class="data" onclick="myFunction_9()">2008</a>
        <a href="#0" class="data" onclick="myFunction_10()">2009</a>
        <a href="#0" class="data" onclick="myFunction_11()">2010</a>
      </div>
      <br>
      <div>
        <a href="#0" class="data" onclick="myFunction_12()">2011</a>
        <a href="#0" class="data" onclick="myFunction_13()">2012</a>
        <a href="#0" class="data" onclick="myFunction_14()">2013</a>
        <a href="#0" class="data" onclick="myFunction_15()">2014</a>
        <a href="#0" class="data" onclick="myFunction_16()">2015</a>
        <a href="#0" class="data" onclick="myFunction_17()">2016</a>
        <a href="#0" class="data" onclick="myFunction_18()">2017</a>
        <a href="#0" class="data" onclick="myFunction_19()">2018</a>
        <a href="#0" class="data" onclick="myFunction_20()">2019</a>
      </div>
      <br><br>
      <div style="display:none" id="myDIV_1">
        <p><font size="5">Songs released in 2000:</font></p>
        <p><font size="3">{{ topic_1 }}</font></p>
        <p><font size="3">{{ topic_2 }}</font></p>
        <p><font size="3">{{ topic_3 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_2">
        <p><font size="5">Songs released in 2001:</font></p>
        <p><font size="3">{{ topic_4 }}</font></p>
        <p><font size="3">{{ topic_5 }}</font></p>
        <p><font size="3">{{ topic_6 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_3">
        <p><font size="5">Songs released in 2002:</font></p>
        <p><font size="3">{{ topic_7 }}</font></p>
        <p><font size="3">{{ topic_8 }}</font></p>
        <p><font size="3">{{ topic_9 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_4">
        <p><font size="5">Songs released in 2003:</font></p>
        <p><font size="3">{{ topic_10 }}</font></p>
        <p><font size="3">{{ topic_11 }}</font></p>
        <p><font size="3">{{ topic_12 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_5">
        <p><font size="5">Songs released in 2004:</font></p>
        <p><font size="3">{{ topic_13 }}</font></p>
        <p><font size="3">{{ topic_14 }}</font></p>
        <p><font size="3">{{ topic_15 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_6">
        <p><font size="5">Songs released in 2005:</font></p>
        <p><font size="3">{{ topic_16 }}</font></p>
        <p><font size="3">{{ topic_17 }}</font></p>
        <p><font size="3">{{ topic_18 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_7">
        <p><font size="5">Songs released in 2006:</font></p>
        <p><font size="3">{{ topic_19 }}</font></p>
        <p><font size="3">{{ topic_20 }}</font></p>
        <p><font size="3">{{ topic_21 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_8">
        <p><font size="5">Songs released in 2007:</font></p>
        <p><font size="3">{{ topic_22 }}</font></p>
        <p><font size="3">{{ topic_23 }}</font></p>
        <p><font size="3">{{ topic_24 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_9">
        <p><font size="5">Songs released in 2008:</font></p>
        <p><font size="3">{{ topic_25 }}</font></p>
        <p><font size="3">{{ topic_26 }}</font></p>
        <p><font size="3">{{ topic_27 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_10">
        <p><font size="5">Songs released in 2009:</font></p>
        <p><font size="3">{{ topic_28 }}</font></p>
        <p><font size="3">{{ topic_29 }}</font></p>
        <p><font size="3">{{ topic_30 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_11">
        <p><font size="5">Songs released in 2010:</font></p>
        <p><font size="3">{{ topic_31 }}</font></p>
        <p><font size="3">{{ topic_32 }}</font></p>
        <p><font size="3">{{ topic_33 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_12">
        <p><font size="5">Songs released in 2011:</font></p>
        <p><font size="3">{{ topic_34 }}</font></p>
        <p><font size="3">{{ topic_35 }}</font></p>
        <p><font size="3">{{ topic_36 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_13">
        <p><font size="5">Songs released in 2012:</font></p>
        <p><font size="3">{{ topic_37 }}</font></p>
        <p><font size="3">{{ topic_38 }}</font></p>
        <p><font size="3">{{ topic_39 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_14">
        <p><font size="5">Songs released in 2013:</font></p>
        <p><font size="3">{{ topic_40 }}</font></p>
        <p><font size="3">{{ topic_41 }}</font></p>
        <p><font size="3">{{ topic_42 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_15">
        <p><font size="5">Songs released in 2014:</font></p>
        <p><font size="3">{{ topic_43 }}</font></p>
        <p><font size="3">{{ topic_44 }}</font></p>
        <p><font size="3">{{ topic_45 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_16">
        <p><font size="5">Songs released in 2015:</font></p>
        <p><font size="3">{{ topic_46 }}</font></p>
        <p><font size="3">{{ topic_47 }}</font></p>
        <p><font size="3">{{ topic_48 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_17">
        <p><font size="5">Songs released in 2016:</font></p>
        <p><font size="3">{{ topic_49 }}</font></p>
        <p><font size="3">{{ topic_50 }}</font></p>
        <p><font size="3">{{ topic_51 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_18">
        <p><font size="5">Songs released in 2017:</font></p>
        <p><font size="3">{{ topic_52 }}</font></p>
        <p><font size="3">{{ topic_53 }}</font></p>
        <p><font size="3">{{ topic_54 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_19">
        <p><font size="5">Songs released in 2018:</font></p>
        <p><font size="3">{{ topic_55 }}</font></p>
        <p><font size="3">{{ topic_56 }}</font></p>
        <p><font size="3">{{ topic_57 }}</font></p>
        <br>
      </div>
      <div style="display:none" id="myDIV_20">
        <p><font size="5">Songs released in 2019:</font></p>
        <p><font size="3">{{ topic_58 }}</font></p>
        <p><font size="3">{{ topic_59 }}</font></p>
        <p><font size="3">{{ topic_60 }}</font></p>
      </div>
      </div>
  </body>
</html>
