.nav-header {
	font-size: 200%;
}

.about {
	padding-left: 62%;
	position: relative;
}

.home {
	padding-left: 65%;
	position: relative;
}

.data:link, .data:visited {
	color: #000;
	font-size: 20px;
	background-color: #f8f9fa;
	text-decoration: none;
	padding: 8px 18px;
	text-align: center;
	display: inline-block;
	border-color: black;
	border-radius: 12px;
	border-style: solid;
	border-width: 1px;
}

.data:hover {
	 text-decoration: none;
	 text-align: center;
	 background-color:#5cbdea;
	 color: white;
	 border-radius: 12px;
	 border-color: #5cbdea;
}

/* artist page */

.artist {
	text-align: center;
}

.container {
	display: inline-block;
}

.more_info {
	text-align: center;
}

.heading {
	font-size:90px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.heading:hover{
	color:#5cbdea;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.polarity {
	font-size:90px;
}

p {
	padding-left: 2%;
}

.word-cloud {
	padding-left: 2%;
}

.chart {
	text-align: center;
	padding-left: 12%;
	padding-right: 12%;
}

/* popular artists list page and artist data page */

.table {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.table_2 {
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* main page */

.intro {
	text-align: center;
	padding-top:2%;
	font-size: 20px;
	transition:1000ms ease all;
	padding-bottom: 2%;
}

button {
  background:#f8f9fa;
  color:#000000;
  border:none;
  position:relative;
  height:80px;
	width:100%;
  font-size:28px;
  padding:0 3em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button:hover{
  background:#5cbdea;
  color:#fff;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000000;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* search page */

form {
	padding-left: 2%;
	outline: None;
	width: 100%;
	border-color: #fff;
}

form input {
	background-color: #fff;
}

input::placeholder {
  color: #bababa;
	font-size:70px;
}

.form {
  font-size: 70px;
	font-family: monospace;
  height: 120px;
  display: inline-block;
	outline: None;
	padding-left:2%;
	padding-right:2%;
	border: none;
	border-color: transparent;
}

.scrape-info {
	text-align: center;
	padding-top: 5%;
}

.submit_button {
	font-size: 25px;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 2%;
	padding-right: 2%;
	color: black;
	outline: None;
	border-color: black;
	position: relative;
	border-radius: 12px;
	background:#f8f9fa;
	left: 250px;
}

.submit_button:hover{
	background-color:#5cbdea;
	color: white;
	border-radius: 12px;
	border-color: #5cbdea;
}

/* all artists */

.years {
	text-align: center;
}

.data:focus {
	background:#5cbdea;
	color: #fff;
}

/* artists comparison */

.polarity_compare {
	font-size:80px;
	font-family:College;
}
