.nav-header {
	font-size: 200%;
}

/* artist page */

.artist {
	text-align: center;
}

.container {
	display: inline-block;
}

.heading {
	font-size:90px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.heading:hover{
	color:#5cbdea;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.polarity {
	font-size:90px;
}

p {
	padding-left: 2%;
}

.word-cloud {
	padding-left: 2%;
}

.chart {
	text-align: center;
	padding-left: 12%;
	padding-right: 12%;
}

/* main page */

.intro {
	text-align: center;
	padding-top:3%;
	font-size: 20px;
	transition:1000ms ease all;
	padding-bottom: 2%;
}

button {
  background:#f8f9fa;
  color:#000000;
  border:none;
  position:relative;
  height:80px;
	width:100%;
  font-size:30px;
  padding:0 3em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button:hover{
  background:#5cbdea;
  color:#fff;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000000;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* search page */

form {
	padding-left: 4%;
	outline: None;
	width: 100%;
	border-color: #fff;
}

form input {
	background-color: #fff;
	/* background-color: #f8f9fa; */
}

input::placeholder {
  color: #bababa;
	font-size:90px;
	/* background-color: #f8f9fa; */
}

.form {
  font-size: 90px;
	font-family: monospace;
  height: 120px;
  display: inline-block;
	outline: None;
	padding-left:2%;
	padding-right:2%;
	border: none;
	border-color: transparent;
}

.scrape-info {
	text-align: center;
	padding-top: 10%;
}

.home {
	padding-left: 65%;
}

.submit_button {
	font-size: 25px;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	color: black;
	outline: None;
	border-color: black;
	position: relative;
	left: 850px;
}

.submit_button:hover{
	background-color:#5cbdea;
	color: white;
	border-color: #5cbdea;
}
